@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter" sans-serif;
    src: url("./assets/fonts/Inter/Inter-Black.ttf");

    font-family: "Karla", sans-serif;
    src: url("./assets/fonts/Karla/Karla-Regular.ttf");
}


body {
    font-family: "Inter" sans-serif;
    color: #707070;
    background: #F6FCFC !important;
}

.font-karla {
    font-family: "Karla", sans-serif;
}


/* .swiper-button-prev,
.swiper-button-next {
    height: 15px !important;
    width: 15px !important;
    margin: 50px;
    color: #fff;
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 40px;
} */